.main_wrapper {
    position: relative;
    height: 100vh;
}

.top_container {
    width: 100vw;
    display: flex !important;
    justify-content: space-between !important;
    position: relative;
}

.logo {
    margin-left: 30px;
    margin-top: 30px;
}

.arrow_illustration_wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.arrow_illustration_wrapper_bottom {
    position: relative;
    bottom: -1.6em;
    left: 0;
}

/* form wrapper */
.form_wrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-top: 50px;
}
