.container {
    margin-bottom: 15px;
    width: 88%;
    display: flex;
    justify-content: space-between;
    padding: 0 .8em;
}

.container span {
    font-size: .9rem;
}

.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}