.dashboard_nav_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 10px);
    margin-top: 10px;
}

.link_item {
    height: 43px;
    width: inherit;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
}

.active {
    background-color: #FFF0F0;
}