.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  margin: 2rem 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.textWrapper {
  flex: 1;
}

.imageWrapper {
  flex: 1;
  position: relative;
  height: 400px;
  width: 100%;
}

.image {
  border-radius: 15px;
  object-fit: cover;
}

.heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  color: #555;
}

.reverse {
  flex-direction: row-reverse;
}

/* Animation */
.fadeUp {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column;
  }

  .image {
    flex: 1;
    position: relative;
    height: 200px;
    width: 100%;
  }
}
