/* src/components/WhyChooseUs.module.css */
.whyChooseUsSection {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.highlight {
  color: #e63946; /* This is the red color for the highlighted 'us?' */
}

.reasonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.reasonCard {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s; /* Smooth transform on hover */
}

.reasonCard:hover {
  background-color: rgb(207, 25, 25);
  color: white;
}

.reasonCard:hover .reasonTitle,
.reasonCard:hover .reasonDescription,
.reasonCard:hover .icon {
  color: white;
}

.iconWrapper {
  margin-bottom: 1rem;
}

.reasonTitle {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1rem;
}

.reasonDescription {
  font-size: 1rem;
  color: #555;
}

/* Responsive Design */

/* Tablet Devices */
@media (max-width: 992px) {
  .reasonCard {
    max-width: 90%; /* Allow reason cards to take more width on tablets */
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .reasonsContainer {
    justify-content: center; /* Center align items in mobile view */
  }

  .reasonCard {
    width: 100%; /* Make reason cards full width on mobile */
    margin-bottom: 1.5rem; /* Space between cards */
  }
}

@media (max-width: 576px) {
  .reasonTitle {
    font-size: 1.1rem; /* Adjust title font size for smaller screens */
  }

  .reasonDescription {
    font-size: 0.9rem; /* Adjust description font size for smaller screens */
  }
}
