.container {
    margin-bottom: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filterBtnContainer select {
    width: 200px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 35px;
    padding: 0 10px;
    font-size: .85rem;
    cursor: pointer;
    border-radius: 5px;
}

.verified {
    color: #1C5237;
}

.pinkBtns {
    background-color: #FFF0F0;
}

.addBtns {
    background-color: #000;
    color: #fff;
}