.dashboard_top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100vw;
    box-shadow: -1px 3px 15px -3px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    padding-right: 25px;
}

.logo_wrapper {
    width: 20px !important;
    height: auto;
}

.user_profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_heading {
    text-align: right;
    border-right: 1px solid #DFE0EB;
    padding-right: 10px;
}

.user_img_wrapper {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
