.container {
    width: 95%;
    margin: auto;
}

.container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container li {
    background-color: #2B5476;
    width: 32%;
    padding: 20px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 25px;
}

@media screen and (max-width: 600px) {
    .container ul {
        flex-direction: column;
    }
    
    .container li {
        width: 100%;
    }
}