.container {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    color: #223159;
    margin-bottom: 1.5rem;
}

.highlight {
    color: #e94a3f; /* Adjust to your preferred red shade */
}

.programsContainer {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.programCard {
    width: 18%;
    background: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    height: 300px;
}

.programCard:hover {
    transform: translateY(-10px);
}

.programImage {
    width: 100%;
    height: 200px;
    position: relative;
}

.programTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #223159;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.learnMoreButton {
    background-color: #223159;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 80%;
    text-align: center;
}

/* Hover state */
.learnMoreButton:hover {
    background-color: #e94a3f; /* Change the button background color on hover */
    color: #fff;
}

/* Active state */
.learnMoreButton:active {
    background-color: #d43a33; /* Slightly darker red for active state */
    transform: scale(0.98); /* Slightly shrink the button on click */
}

/* Focus state */
.learnMoreButton:focus {
    outline: 2px solid #e94a3f; /* Outline the button when it receives focus */
    outline-offset: 3px;
}

/* Optional: Visited state */
.learnMoreButton:visited {
    background-color: #223159; /* Same as default background for visited */
}
